{% extends "root.html" %}
{% block title %}Home / {% endblock %}
{% block nav %}

{% endblock %}
{% block content %}
    <h1 class="h1">Guildit.dev <img src="/assets/webhook.svg" width="37px" style="filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(63deg) brightness(102%) contrast(101%);"></h1>
    <p>GitHub webhooks done right. <i class="bi bi-heart-fill"></i></p>
    
    <br>
    
    <h2>Seemless transition! <i class="bi bi-door-open-fill"></i></h2>
    <p>No annoying bots, no annoying settings, simply go from <code class="bg-secondary-subtle p-1 rounded" style="color: #019BFD;">media.guilded.gg</code> to <code class="bg-secondary-subtle p-1 rounded" style="color: #019BFD;">guildit.dev</code>!</p>

    <br>

    <h2>Large event support! <img src="https://cdn3.emoji.gg/emojis/6645_Stonks.png" width="40px"> </h2>
    <p>Guildit.dev supports a majority of GitHub's webhook events, and we are constantly working on adding even more!</p>
    {% endblock %}